/*
Author: Deadeepya Koganti
Date: 07-04-2025
File Name: about.css
*/

span{
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Paragraph styling*/
#paragraph{
    font-weight: bold;
}

/* Product Frame Styling */
.product-frame {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.product-image {
    flex: 1;
    max-width: 200px;
    padding: 20px;
}

.product-image img {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

.product-description {
    flex: 2;
    padding: 20px;
}

.product-description h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
}
